[submodule "agm"]
	path = agm
	url = https://git.codelinaro.org/clo/la/platform/vendor/qcom/opensource/audioreach/audioreach-graphmgr.git
[submodule "ahal-aidl"]
	path = ahal-aidl
	url = https://git.codelinaro.org/clo/la/platform/hardware/qcom/audio-aidl.git
[submodule "aosp-frameworks-av"]
	path = aosp-frameworks-av
	url = https://git.codelinaro.org/clo/la/platform/frameworks/av.git
[submodule "aosp-frameworks-base"]
	path = aosp-frameworks-base
	url = https://git.codelinaro.org/clo/la/platform/frameworks/base.git
[submodule "aosp-hardware-interfaces"]
	path = aosp-hardware-interfaces
	url = https://git.codelinaro.org/clo/la/platform/hardware/interfaces.git
[submodule "aosp-system-media"]
	path = aosp-system-media
	url = https://git.codelinaro.org/clo/la/platform/system/media.git
[submodule "ar-conf"]
	path = ar-conf
	url = https://git.codelinaro.org/clo/la/platform/vendor/qcom/opensource/audioreach/audioreach-conf.git
[submodule "ar-engine"]
	path = ar-engine
	url = https://git.codelinaro.org/clo/la/platform/vendor/qcom/opensource/audioreach-engine.git
[submodule "audio-kernel-ar"]
	path = audio-kernel-ar
	url = https://git.codelinaro.org/clo/la/platform/vendor/qcom/opensource/audio-kernel-ar.git
[submodule "graphservices"]
	path = graphservices
	url = https://git.codelinaro.org/clo/la/platform/vendor/qcom/opensource/audioreach/audioreach-graphservices.git
[submodule "pal"]
	path = pal
	url = https://git.codelinaro.org/clo/la/platform/vendor/qcom/opensource/audioreach/audioreach-pal.git
